img {
    width:40%;
    height:25%;
    display:block;
    margin:auto;
}

body {
    background-color: #fdd100;
    text-align: center;
    color:#322c2c;
}

h1 {
    font-size: 300%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    color:#322c2c;
    text-decoration: none;
}